:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 163 66 194;
  --oui-color-primary-light: 206 133 228;
  --oui-color-primary-darken: 128 53 173;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 170 82 198;
  --oui-color-link-light: 204 128 217;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 237 63 95;
  --oui-color-danger-light: 251 133 143;
  --oui-color-danger-darken: 224 48 78;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 34 184 92;
  --oui-color-success-light: 94 216 142;
  --oui-color-success-darken: 0 128 64;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 245 158 66;
  --oui-color-warning-light: 255 198 109;
  --oui-color-warning-darken: 235 128 48;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 40 34 52;
  --oui-color-fill-active: 44 42 61;

  --oui-color-base-1: 83 56 108;
  --oui-color-base-2: 73 49 94;
  --oui-color-base-3: 64 43 80;
  --oui-color-base-4: 56 38 68;
  --oui-color-base-5: 49 33 59;
  --oui-color-base-6: 42 29 50;
  --oui-color-base-7: 66 30 56;
  --oui-color-base-8: 30 26 42;
  --oui-color-base-9: 24 20 32;
  --oui-color-base-10: 17 12 24;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 255 255 255;

  --oui-color-trading-loss: 237 63 95;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 34 184 92;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 131 56 172;
  --oui-gradient-primary-end: 170 82 198;

  --oui-gradient-secondary-start: 81 42 121;
  --oui-gradient-secondary-end: 163 66 194;

  --oui-gradient-success-start: 23 129 62;
  --oui-gradient-success-end: 34 184 92;

  --oui-gradient-danger-start: 190 40 80;
  --oui-gradient-danger-end: 237 63 95;

  --oui-gradient-brand-start: 216 173 240;
  --oui-gradient-brand-end: 159 86 202;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 208 133 40;
  --oui-gradient-warning-end: 245 158 66;

  --oui-gradient-neutral-start: 33 35 28;
  --oui-gradient-neutral-end: 44 43 40;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}